body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f4fb;
    color: #333;
  }
  
  header {
    background-color: #6A1B9A;
    color: white;
    padding: 30px;
    text-align: center;
    position: relative;
  }
  .container-center{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  .logo {
    width: 160px;
    top: 20px;
    left: 30px;
    border-radius: 0 50% 0 0; /* top-left, top-right, bottom-right, bottom-left */
  }
  .container-title{
    width: 80%;
    float: left;
  }
  
  .foto-perfil {
    width: 160px;
    border-radius: 50%;
    float: right;
    margin: 10px 0 20px 30px;
  }
  
  nav {
    background-color: #8E24AA;
    text-align: center;
    padding: 15px;
  }
  
  nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
  }
  
  nav a.active {
    background-color: #BA68C8;
  }
  
  nav a:hover {
    background-color: #CE93D8;
  }
  
  main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
  
  section {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    display: none;
  }
  
  section.active {
    display: block;
  }
  
  footer {
    background-color: #6A1B9A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
  }


 /*   Material de aula   */
  .container-disciplina {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
  }

  .container-disciplina h1{
    font-family: cursive;
  }

  .container-disciplina h3{
    line-height: 1.33;
    margin: 0;
  }
  .stackedit__html {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: slategray  2px;
    border-style: dashed;
    border-radius: 10px;
    padding: 20px;
  }

  .container-disciplina hr{
    margin: 10px 0;
  }

.container-disciplina table{
    border: lightgray 1px solid;
}

/*   Navegação Rodapé   */
#nav-footer {
    background-color: #f3e5f5; /* lilás claro */
    border-top: 2px solid #8E24AA; /* lilás mais escuro */
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
    text-align: center;
    color: #4a148c;
    margin-bottom: -30px;
  }
  
  #nav-footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  #nav-footer li {
    margin: 5px 0;
  }
  
  #nav-footer a {
    text-decoration: none;
    color: #6A1B9A;
    font-weight: bold;
    font-size: 11pt;
  }
  
  #nav-footer a:hover {
    text-decoration: underline;
    color: #ab47bc;
  }

  #nav-footer h4 {
    font-size: 14pt;
    font-family:revert;
    color: #BA68C8;
    margin: 0;
  }


  .botao-voltar {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .botao-voltar:hover {
    background-color: #c290e0;
  }

  #tutorial-navigation{
    display: flex; 
    justify-content: space-between; 
    padding: 20px 0;
  }
  #tutorial-navigation button{
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  #tutorial-navigation button:hover {
    background-color: #c290e0;
  }